<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!----------------------ICONOS------------------------->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
    />
    <!----------------------ESTILOS------------------------->
    <link rel="stylesheet" href="/css/estilos.css" />
    <title>MercadoLiebre - Registro de Usuario</title>
</head>
<body>
    <header>
        <nav class="navbar">
          <div class="top-navbar">
            <img class="logo" src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre" /></i>
              <div class="buscar">
                <input type="text" placeholder="Buscar productos, marcas"/>
                <i class="fa-solid fa-magnifying-glass"></i>
              </div>
            <h2 class="compra-cuotas"><i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjeta de credito</h2>
          </div>
          <div class="bottom-navbar">
            <ul class="site">
              <li><a href="#">Ofertas</a></li>
              <li><a href="#">Tiendas oficiales</a></li>
              <li><a href="#">Vender</a></li>
              <li><a href="#">Ayuda</a></li>
            </ul>
  
  
           <ul class="loguin">
              <li><a href="#">Creá tu cuenta<i class="fa-regular fa-id-card"></i></li></a></li>
              <li><a href="loguin">Ingresá<i class="fa-solid fa-right-to-bracket"></i></a></li>
              <li><a href="#">Mis compras<i class="fa-solid fa-basket-shopping"></i></a></li>
           </ul>
          </div>
          <a href="#" class="burger-menu">
            <i class="fa-solid fa-bars"></i>
          </a>
        </nav>
      <img class="banner" src="/images/img-home-banner.jpg" alt="img-home-banner">
    </header>
    <h2 class="titulo-registro">Formulario de Registro</h2>
    <form class="formulario" action="formulario-registro" method="POST"><br><br>
      <input type="text" id="nombre-usuario" name="nombre-usuario" placeholder="Nombre de usuari@"><br><br>
      <input type="date" id="fecha-nacimiento" name="fecha-nacimiento" placeholder="Fecha de nacimiento"><br><br>
      <label for="domicilio"></label><br>
      <input type="text" id="domicilio" name="domicilio" placeholder="Domicilio"><br><br>
  
      <p>Perfil del usuario</p><br>
      <div class="perfil">
      <input type="radio" id="comprar" name="perfil" value="comprar" placeholder="">
      <label for="comprar">Comprar</label>
      <input type="radio" id="vender" name="perfil" value="vender" placeholder="">
      <label for="vender">Vender</label>
      </div>
      <br><br>
        
  
      <p>Categorías de interés</p>
      <input type="checkbox" id="electro" name="intereses" value="Electro">
      <label for="electro">Electro</label>
      <input type="checkbox" id="moda" name="intereses" value="Moda">
      <label for="moda">Moda</label>
      <input type="checkbox" id="hogar" name="intereses" value="Hogar">
      <label for="hogar">Hogar</label>
      <input type="checkbox" id="jugueteria" name="intereses" value="Juguetería">
      <label for="jugueteria">Juguetería</label>
      <input type="checkbox" id="vida-sana" name="intereses" value="Vida sana">
      <label for="vida-sana">Vida sana</label><br><br>
  
      <p>Foto de usuario<p>
      <input type="file" id="foto-usuario" name="foto-usuario" accept=".jpg, .png"><br><br>
  
      <p>Contraseña</p>
      <input type="password" id="password" name="password"><br><br>
  
      <p>Confirmar contraseña</p>
      <input type="password" id="confirmar-password" name="confirmar-password"><br><br>
  
      <button type="submit" value="Enviar"><a href="/">Enviar</a></button>
      <button type="reset" value="Borrar">Borrar</button>
    </form>
    <footer class="footer">
      <div class="cards">
        <div class="pagos">
          <i class="fa-solid fa-credit-card"></i>
          <h3>Pagá con tarjeta o en efectivo</h3>
          <p>
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
            efectivo en puntos de pago. ¡Y siempre es seguro!
          </p>
        </div>
        <div class="envio">
          <i class="fa-solid fa-gift"></i>
          <h3>Envío gratis desde $ 2.500</h3>
          <p>
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
            miles de productos. Es un beneficio de Mercado Puntos.
          </p>
        </div>
        <div class="seguridad">
          <i class="fa-solid fa-user-shield"></i>
          <h3>Seguridad, de principio a fin</h3>
          <p>
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
            hacer, porque estás siempre protegid@.
          </p>
        </div>
    </div>
      <br>
      <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
    </footer>
</body>
</html>